html,
body,
.App {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  background: #141414;
  font-family: "Montserrat", sans-serif;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
}
footer {
  color: #6d6d6d;
  text-align: center;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
  color: pink;
}
a:hover {
  color: pink;
}